<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- start card -->
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
        Personal Details
      </ion-list-header>
      <ion-item>
        <ion-label position="fixed">Account number</ion-label>
        <ion-input [(ngModel)]="account_number" type="text"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<!-- end -->

<!-- start card -->
<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-list-header>
          Jewelry Details
      </ion-list-header>

      <ion-item>
        <ion-label>Jewelry Type</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="item">
          <ion-select-option *ngFor="let jewel of jewelry" [value]="jewel">{{ jewel.jewelry_type }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label>Appearance</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="item_appearance">
          <ion-select-option *ngFor="let appearance of appearance" [value]="appearance">{{ appearance.appearance_type }}</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label position="fixed">Weight</ion-label>
        <ion-input [(ngModel)]="weight" type="numeric"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Testing Procedure</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="item_test">
          <ion-select-option *ngFor="let tests of test" [value]="tests">{{ tests.procedure_type }}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label>Karatage</ion-label>
        <ion-select [compareWith]="compareWith" [(ngModel)]="item_karatage">
          <ion-select-option *ngFor="let karat of karatage" [value]="karat.id">{{ karat.karatage_type }}</ion-select-option>
        </ion-select>
      </ion-item>
    
      <ion-item>
        <ion-label position="fixed">Market Value</ion-label>
        <ion-input type="numeric" [(ngModel)]="market_value"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="fixed">Maximum Amount</ion-label>
        <ion-input type="numeric" [(ngModel)]="max_amount"></ion-input>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
<ion-button expand="block" (click)="add_transact()">Add</ion-button>
<!-- end -->
</ion-content>
