.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85%;
}
.mid{
   margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.header{
    height: 5%;
    font-family: Staatliches-Regular !important;  
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    letter-spacing: calc(5vw - 12px);
}
#btn-estimate{
    float: right;
}
.btnReg{
    color: red;
    font-weight: bold;
    margin-top: 10px;
}
.header-icon{
    color:white;
}
.none{
   --background: clear;
}
ion-toolbar{
    --background:var(--ion-color-danger);
}
.back{
    color:white;
}
ion-title{
    color:white;
    
}

ion-button{
    --background:var(--ion-color-danger);
}
ion-content{
    --background: var(--ion-color-danger);
}
