<ion-header>
  <ion-toolbar class="back">
    <ion-buttons  slot="start">
      <ion-back-button  class="btnBack" defaultHref="home">
      </ion-back-button>
      <ion-title>
        Dashboard
    </ion-title>
    <ion-icon class="header-icon" slot="end" name="analytics"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

   <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['/add-transact']"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card style="margin-top: 15px;">

    <ion-card-header>
      <ion-card-title>Quick Estimate</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Jewelry Type</ion-label>
          <ion-select [compareWith]="compareWith" [(ngModel)]="item" placeholder="Select Jewelry">
            <ion-select-option *ngFor="let jewel of jewelry" [value]="jewel.jewelry_type">{{ jewel.jewelry_type }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Weight</ion-label>
          <ion-input [(ngModel)]="weight" type="numeric" placeholder="Weight in grams"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Karatage</ion-label>
          <ion-select [compareWith]="compareWith" [(ngModel)]="item_karatage" placeholder="Select karat">
            <ion-select-option *ngFor="let karat of karatage" [value]="karat.value">{{ karat.karatage_type }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="fixed">Estimated Value</ion-label>
          <ion-input type="numeric" [(ngModel)]="result"></ion-input>
        </ion-item>
        <ion-button id="btn-estimate" (click)="estimate()">Estimate</ion-button>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>  
    <ion-card-header>
      <ion-card-title>Recent</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let t of transaction">
          <ion-label>{{ t.Loan_Date }} {{ t.Lastname }} ({{ t.Jewelry }})</ion-label>
          <ion-button shape="round" [routerLink]="['/modify/', t.id]">Update</ion-button>
        </ion-item>
      </ion-list>
      <ion-button class="none" fill="clear" size="small" [routerLink]="['/list/']">See more..</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
