<ion-content>
  <ion-text style="font-size:35px !important;padding-top: 20px;" class="header" color="white">
    PAWN NAZARENO
   </ion-text>

   <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title style="font-family: Staatliches-Regular !important; font-size: 32px;" >Join Us!</ion-card-title>
        <ion-card-subtitle style="font-size: 16px;font-family:Quicksand-VariableFont_wght !important;
      "><strong>Hey! Have a jewelry to pawn? Register and Login now.</strong></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-row>
          <ion-col>
           <ion-button style="margin-top: 10px;" class="btnReg" type="button" (click) ="processLogin()"
    color="white" shape="round" expand="block" routerLink="/register" expand="block">
    Register
  </ion-button>
  <ion-button  color="danger"style="margin-top: 10px;" expand="block"  shape="round"   routerLink="/login" expand="block">
    Login
  </ion-button>
          </ion-col>
        </ion-row>
        </ion-card-content>
     
    </ion-card>
  </div>
  
  
  </ion-content>